.DS_Store

__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

.venv/
env/
venv/

.env

.vscode/
.idea/

*.log
logs/

data/*
!data/.gitkeep

spark-warehouse/
metastore_db/
checkpoints/

docker-compose.override.yml
